*{ 
    margin:0 
    padding 0
}
.logo{
    height: 60px;
    width: 85px;
}
.titulos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #24292e;
    margin-top: 100px;
    margin-bottom: -1px;
}
.textosmain{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    color: #3c444d;
    margin-left: 250px;
    margin-right: 250px;
}
.subtitulos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #24292e;
    margin-top: 100px;
    margin-bottom: -1px;
}
footer{
    margin-top: 400px;
    margin-bottom: 50px;
}
.iframexd{
    height: 100px;
    width: 150px;
}
.textospie h3{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #24292e;
    margin-bottom: -1px;
}
.logopie{
    height: 150px;
    width: 250;
}
.logoredes{
    height: 40px;
    width: 20x;
}
main{
    margin-top: 100px;
}
#pie{
    justify-content: space-around;
}
.titulosdos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 50px;
    color: #24292e;
    margin-top: 20px;
    margin-bottom: -1px;
}
.textosdos{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: #3c444d;
    margin-left: 50px;
    margin-right: 600px;
}
.achetres{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
    color: #24292e;
    margin-top: -5px;
    margin-bottom: -1px;
    
}
#listas li{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 15px;
    color: #3c444d;
    margin-left: 50px;  
}
.imageneslistas{
    margin-left: 50px;
    height: 100px;
    width: 200px;
}

.vacio{
    padding: 100px;
}

.tables{
    width: 653.789px;
    height: 646.406;
    border: #3c444d 5px solid;
    margin-left: 50px;
    margin-top: 10px;
}

.tablesdos{
    width: 853.789px;
    height: 544.062;
    border: #3c444d 5px solid;
    margin-left: 50px;
    margin-top: 10px;
}
.tablestres{
    width: 700px;
    height: 200px;
    border: #3c444d 5px solid;
    margin-left: 50px;
    margin-top: 10px;

}
.textosparatabla{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: #3c444d;
    margin-left: 50px;
    margin-right: 600px;
    font-weight: bold;
}
.navbaritem{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
.barranavegacion{
    display: flex;
    position: fixed;
    margin-bottom: 50px;
    background-color: #3c444d;
}
.cartasfotos{
    margin-left: 50px;
    margin-bottom: 50px;
    position: static;
    background-color: whitesmoke;
    border: solid 2px blue;
}
.textoscuatro{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #3c444d;
    text-align: left;
    
    
}
.achecuatro{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    color: #24292e;
}
.textosseis{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: #3c444d;
    margin-left: 50px;
    margin-right: 600px;
    margin-top: 100px;
    font-weight: bold;
    
}