@import './abstract/variables';
@import './componentes/footer';
@import './componentes/main';


* {
	margin: 0 padding 0;
}
.logo {
	height: 60px;
	width: 85px;
}
.titulos {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: $color_1;
	margin-top: 100px;
	margin-bottom: -1px;
}
.textosmain {
	font-family: $fuenteprincipal;
	font-style: italic;
	text-align: center;
	font-size: 20px;
	color: $color_2;
	margin-left: 50px;
	margin-right: 50px;
}
.subtitulos {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: $color_1;
	margin-top: 100px;
	margin-bottom: -1px;
}

.iframexd {
	height: 100px;
	width: 150px;
}
.textospie {
	h3 {
		font-family: $fuenteprincipal;
		font-style: italic;
		font-weight: bold;
		font-size: 20px;
		color: $color_1;
		margin-bottom: -1px;
	}
}
.logopie {
	height: 150px;
	width: 250;
}
.logoredes {
	height: 40px;
	width: 20x;
}

.titulosdos {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	margin-left: 50px;
	color: $color_1;
	margin-top: 20px;
	margin-bottom: -1px;
}
.textosdos {
	font-family: $fuenteprincipal;
	font-style: italic;
	text-align: left;
	font-size: 20px;
	color: $color_2;
	margin-left: 50px;
	margin-right: 50px;
}
.achetres {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 25px;
	text-align: left;
	margin-left: 50px;
	color: $color_1;
	margin-top: -5px;
	margin-bottom: -1px;
}
#listas {
	li {
		font-family: $fuenteprincipal;
		font-style: italic;
		text-align: left;
		font-size: 15px;
		color: $color_2;
		margin-left: 50px;
	}
}
.imageneslistas {
	margin-left: 50px;
	height: 100px;
	width: 200px;
}
.tables {
	width: 653.789px;
	height: 646.406;
	border: #3c444d 5px solid;
	margin-left: 10px;
	margin-top: 10px;
}
.tablesdos {
	width: 853.789px;
	height: 544.062;
	border: #3c444d 5px solid;
	margin-left: 10px;
	margin-top: 10px;
}
.tablestres {
	width: 700px;
	height: 200px;
	border: #3c444d 5px solid;
	margin-left: 10px;
	margin-top: 10px;
}
.textosparatabla {
	font-family: $fuenteprincipal;
	font-style: italic;
	text-align: left;
	font-size: 20px;
	color: $color_2;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: bold;
}
.navbaritem {
	font-size: 20px;
	font-weight: bold;
	color: $color_3;
	text-decoration: underline;
}
.barranavegacion {
	display: flex;
	position: fixed;
	margin-bottom: 50px;
	background-color: $background-color_1;
}
.cartasfotos {
	margin-bottom: 20px;
	position: static;
	background-color: $background-color_2;
	border: solid 2px blue;
}
.textoscuatro {
	font-family: $fuenteprincipal;
	font-style: italic;
	font-size: 15px;
	color: $color_2;
	text-align: left;
}
.achecuatro {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	margin-left: 50px;
	color: $color_1;
}
.textosseis {
	font-family: $fuenteprincipal;
	font-style: italic;
	text-align: left;
	font-size: 20px;
	color: $color_2;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 150px;
	font-weight: bold;
}
.titulosocho {
	font-family: $fuenteprincipal;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	margin-left: 50px;
	color: $color_1;
	margin-top: 100px;
	margin-bottom: -1px;
}

.img-fluid{
    max-width: 100%;
}
